<?xml version="1.0" encoding="utf-8" ?>
<!-- 
    Nota: agregue entradas al archivo App.config para la configuración de la aplicación
    que solo se apliquen al proyecto de prueba.
-->
<configuration>
    <configSections>
        <sectionGroup name="applicationSettings" type="System.Configuration.ApplicationSettingsGroup, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" >
            <section name="RppitoNet.Tests.Properties.Settings" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" requirePermission="false" />
        </sectionGroup>
    </configSections>
    <appSettings>

    </appSettings>

    <connectionStrings>

    </connectionStrings>



    <applicationSettings>
        <RppitoNet.Tests.Properties.Settings>
            <setting name="RppitoNet_recolector_ws_recolector" serializeAs="String">
                <value>http://localhost:3270/recolector.asmx</value>
            </setting>
            <setting name="consumer_key" serializeAs="String">
                <value>1z3gUoPoRV3IU6kZYnNrg</value>
            </setting>
            <setting name="consumer_secret" serializeAs="String">
                <value>P6YECpzQOxemFXbRsxpYPTdTMbQy7xHRHgARF3tY870</value>
            </setting>
            <setting name="token" serializeAs="String">
                <value>482395533-YcFGFsQ96GnWYfGKC8sztJGpZwQTWI11eXH2AkQD</value>
            </setting>
            <setting name="token_secret" serializeAs="String">
                <value>6wUYHgWx441tpLoRTrDdU603pmRZh7vPjFzSRM</value>
            </setting>
        </RppitoNet.Tests.Properties.Settings>
    </applicationSettings>
</configuration>
